<div>


    <ul>

        <li ng-repeat="item in itemList track by $index"> <a ui-sref="{{item.route}}">{{item.name}}</a></li>


    </ul>
    <li > <a ui-sref="main.tomcat">Tomcat</a></li>
    <li > <a ui-sref="main.cache">缓存监控</a></li>
    <li > <a ui-sref="main.file.list">文件管理</a></li>

    <li > <a ui-sref="main.table">表管理</a></li>
    <li > <a ui-sref="main.student">学生信息</a></li>
    <li > <a ui-sref="main.lunch.list">午饭管理</a></li>
    <li > <a ui-sref="main.dinner.list">晚饭管理</a></li>

    <li > <a ui-sref="main.system">RaspBerryPi</a></li>







</div>

